*.la
*.lo
*.o
*.o
*.tar.gz
.*swp
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
autoscan.log
config.*
configure
configure.scan
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
tags
TAGS
