Source: nmsg
Section: net
Priority: optional
Maintainer: Farsight Security, Inc. <software@farsightsecurity.com>
Build-Depends:
 debhelper (>= 9~),
 dh-autoreconf (>= 5~),
 docbook-xsl,
 docbook-xsl-ns,
 docbook5-xml,
 doxygen,
 dpkg-dev (>= 1.16.1~),
 lcov,
 libpcap0.8-dev,
 libprotobuf-c-dev (>= 1.0.1~),
 libwdns-dev (>= 0.8.0~),
 libxs-dev (>= 1.2.0~),
 libyajl-dev (>= 2.1.0~),
 pkg-config,
 protobuf-c-compiler (>= 1.0.1~),
 xsltproc,
 zlib1g-dev,
Standards-Version: 3.9.6

Package: libnmsg-dev
Section: libdevel
Architecture: any
Depends:
 libnmsg6 (= ${binary:Version}),
 libpcap0.8-dev,
 libprotobuf-c-dev,
 ${misc:Depends},
Recommends: protobuf-c-compiler
Description: network message encapsulation library (development files)
 This package contains the libnmsg static library, development headers,
 and Protocol Buffer schemas for message types included in the base nmsg
 distribution.

Package: libnmsg6
Section: libs
Architecture: any
Depends: nmsg-msg9-module-base, nmsg-flt1-module-sample, ${misc:Depends},
 ${shlibs:Depends}
Description: network message encapsulation library
 This package contains the libnmsg shared library.
 .
 The NMSG format is an efficient encoding of typed, structured data into
 payloads which are packed into containers which can be transmitted over
 the network or stored to disk. libnmsg is the reference implementation
 of this format and provides an extensible interface for creating and
 parsing messages in NMSG format. The NMSG format relies on Google
 Protocol Buffers to encode the payload header. Individual NMSG payloads
 are distinguished by assigned vendor ID and message type values and
 libnmsg provides a modular interface for registering handlers for
 specific message types. libnmsg makes it easy to build new message
 types using the protobuf-c compiler.

Package: nmsg-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: network message encapsulation library (documentation)
 This package contains the libnmsg doxygen documentation.

Package: nmsg-flt1-module-sample
Section: net
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: sample filter module plugin for libnmsg
 This package contains the libnmsg 'sample' filter module plugin which
 extends the libnmsg runtime to support sampling of the message stream.
 It can perform either systematic count-based sampling or uniform
 probabilistic sampling.

Package: nmsg-msg9-module-base
Section: net
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: base message module plugin for libnmsg
 This package extends the libnmsg runtime to support the following
 message types:
 .
 base/dns
 base/dnsqr
 base/email
 base/encode
 base/http
 base/ipconn
 base/linkpair
 base/logline
 base/ncap
 base/packet
 base/pkt
 base/xml

Package: nmsgtool
Section: net
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: network message encapsulation tool
 Command-line tool for libnmsg.
 .
 The NMSG format is an efficient encoding of typed, structured data into
 payloads which are packed into containers which can be transmitted over
 the network or stored to disk. Each payload is associated with a
 specific message schema. Modules implementing a certain message schema
 along with functionality to convert between binary and presentation
 formats can be loaded at runtime by libnmsg. nmsgtool provides a
 command line interface to control the transmission, storage, creation,
 and conversion of NMSG payloads.
