#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@ --with autoreconf --parallel

override_dh_strip:
	dh_strip -p libnmsg6 --dbg-package=libnmsg6-dbg
	dh_strip -a --remaining-packages

binary-indep:
	$(MAKE) html
	dh $@

binary: binary-arch binary-indep
