#!/usr/bin/make -f
#export DH_VERBOSE=1
%:
	dh $@

override_dh_strip:
	dh_strip -p libnmsg6 --dbg-package=libnmsg6-dbg
	dh_strip -s --remaining-packages

binary-indep:
	$(MAKE) html
	dh $@

binary: binary-arch binary-indep
