*.in
*.la
*.lo
*.o
*~
.*swp
.deps
.libs
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
examples/wdns-deserialize-rrset
examples/wdns-dump-hex
examples/wdns-dump-pcap
examples/wdns-serialize-rrset
examples/wdns-test-print-message
install-sh
libtool
ltmain.sh
missing
!pywdns/Makefile
pywdns/build
pywdns/wdns.c
pywdns/wdns.so
stamp-*
wdns/msg/rrclass_to_str.c
wdns/msg/rrtype_to_str.c
wreck-*.tar.gz
