*.in
*.la
*.lo
*.o
*~
.*swp
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
examples/wdns-dump-pcap
install-sh
libtool
ltmain.sh
missing
pywdns/build
pywdns/pywdns.c
pywdns/pywdns.so
stamp-*
wdns/msg/class_to_str.c
wdns/msg/type_to_str.c
wreck-*.tar.gz
